<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="well text-center">
        <h3>Welcome...</h3>
    </div>
    <div class="well">
        <h4>Login as:</h4>
        <div class="container text-center">
            <form action="/homeAdmin">
                <input type="submit" class="btn btn-primary" value="Admin" />
            </form>
            <div style="margin:5px;"></div>
            <form action="/homeUser">
                <input type="submit" class="btn btn-primary" value="User" />
            </form>
        </div>
    </div>
</div>

</body>
</html>